body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#projectTitle{
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	font-weight: 400;
	padding-top: 30px;
	padding-bottom: 5px;
}

#myName{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	padding-bottom: 50px;
}

.description{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: justify;
	text-justify: inter-word;
	padding-bottom: 20px;
}

#maincontainer{
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
#source{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 11px;
	text-align: justify;
	text-justify: inter-word;
	padding-bottom: 30px;
}

div.tooltip{
	position: absolute;
	color: #222;
	width: 170px;
	height: auto;
	padding: 10px;
	font: 12px Roboto Condensed;
	background-color: #fff;
	border: 2px;
	border:1px solid rgba(0,0,0,0.5);
	pointer-events: none;
	box-shadow: 2px 2px 2px rgba(169,169,169,0.5);
}

.legendLinear{
	font-size: 14px;
}
